@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Niconne&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&family=Roboto+Slab:wght@300&family=Teko:wght@300&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}

.fa-hand-point-right{
    color: #FFC014;
}
.footer-bcg{
    background-color: #562eff;
}